* {
  padding: 0;
  margin: 0;
}

#main {
  display: grid;
  justify-content: center;
  gap: 20px;
  padding: 80px;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}
.section {
  border: 5px solid gray;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 20px;
  display: grid;
  gap: 20px;
}

.work.info {
  margin-bottom: 15px;
}

#work-div {
  margin-bottom: -15px;
}

button {
  margin-top: 10px;

  width: 100px;
  border-radius: 20px;
}